$colorBlack: #000000;
$colorRed: #AA240A;
$colorYellow: #F68E28;
$colorOq: #fff;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;900&display=swap');

#root {
    overflow-x: hidden;
}

body {
    font-family: 'Gothic A1', sans-serif;
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    .mb-xs-4 {
        @media (max-width:576px) {
            margin-bottom: 30px;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .Header {
        padding-bottom: 40px;
        position: relative;
        height: 800px;

        .col-12 {
            position: absolute;
            top: 12%;
        }

        .swiper {
            height: 100%;
        }

        .swiper-slide {
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }

            .cards {
                opacity: 0;
                transition: all .3s ease-in-out;
                overflow: hidden;

                h1 {
                    transition: all .4s ease-in-out .1s;
                    transform: translateX(-50px);
                    opacity: 0;
                }

                h2 {
                    transition: all .5s ease-in-out .3s;
                    transform: translateX(-150px);
                    opacity: 0;
                }

                a {
                    transition: all .5s ease-in-out .5s;
                    transform: translateX(-50px);
                    opacity: 0;
                }
            }

            &.swiper-slide-active {

                .cards {
                    opacity: 1;

                    h1 {
                        transform: translateX(0);
                        opacity: 1;
                    }

                    h2 {
                        transform: translateX(-0);
                        opacity: 1;
                    }

                    a {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }

        .swiper-pagination {
            background-color: transparent;
            display: flex;
            width: 192px;
            right: 20%;
            left: inherit;
            bottom: 8%;

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.897);
                width: 40%;
                height: 10px;
                border-radius: 0;
                margin-right: 8px;
                opacity: 1;
                transition: all .6s ease-in-out;

                &.swiper-pagination-bullet-active {
                    background-color: $colorRed;
                    width: 60%;
                }
            }
        }

        .cards {
            position: relative;

            img {
                width: initial !important;
            }

            .bg {
                z-index: 11;
                left: 15%;
                top: 25%;
            }

            .cardsBody {
                // transform: translate(-244px, -61px) !important;
                position: absolute;
                z-index: 11;
                left: 48px;
                top: 65px;

                h1 {
                    font-size: 17px;
                    line-height: 21px;
                    font-weight: 500;
                    font-size: 18px;
                    color: $colorYellow;
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 61px;
                    color: $colorRed;
                    margin: 38px 0 200px 0 !important;
                    width: 50%;
                }

                a {
                    font-weight: 400;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    font-weight: 600;
                    color: #ffffff;

                    span {
                        margin-left: 12px;
                    }
                }
            }
        }

        .swiper-wrapper {

            img {
                width: 100%;
            }
        }

        @media(max-width: 992px) {
            padding-bottom: 0;
        }
    }

    .card {
        background-color: transparent;
        border: 0;
        padding: 0;

        .card-body {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }

    .main-title {
        h2 {
            font-size: 24px;
            line-height: 30px;
            color: $colorYellow;
            margin-bottom: 10px;
        }
    }

    .Navbar {
        padding: 20px 0;
        user-select: none;

        .nav-menu {
            display: flex;
            justify-content: space-between;

            li {
                a {
                    color: $colorBlack;
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }

        select {
            background: transparent;
            border: 1px solid $colorRed;
            color: $colorYellow;
            padding: 25px 2px;

            &:focus {
                outline: none;
            }
        }
    }

    .About {
        padding: 60px 0 90px;
        position: relative;

        .key1 {
            position: absolute;
            top: 100px;
            left: 30px;
        }

        .key2 {
            position: absolute;
            right: 20px;
            top: 360px;
            z-index: -1;
        }

        .col-lg-5 {

            img {

                @media(max-width: 992px) {
                    width: 100%;
                }
            }
        }

        .main-title {

            @media(max-width: 992px) {
                margin-top: 195px;
            }
        }

        h3 {
            font-size: 40px;
            line-height: 57px;
            font-weight: 700;
            color: $colorRed;
            margin-bottom: 45px;

            @media(max-width: 767px) {
                font-size: 32px;
                line-height: 44px;
                margin-bottom: 40px !important;
            }
        }

        p {
            font-size: 18px;
            color: $colorBlack;
            line-height: 26px;

            @media(max-width: 992px) {
                margin-bottom: 40px !important;
            }
        }

        .card {
            position: relative;
            width: 150px;
            height: 185px;
            margin-top: 220px;

            &::before {
                border: 3px solid #F68E28;
                content: "";
                width: 150px;
                height: 185px;
            }

            .desc {
                display: flex;
                align-items: center;
                position: absolute;
                width: 70%;
                top: 25%;
                right: -10%;
                background: $colorOq;
                padding: 10px 0;

                span {
                    color: $colorRed;
                    font-size: 70px;
                    line-height: 75px;
                    font-weight: 700;
                    padding-right: 15px;
                }

                p {
                    font-size: 17px;
                    line-height: 20px;
                }
            }

            @media(max-width: 992px) {
                position: absolute;
                margin: 0;
                right: 93px;
                top: 45px;
            }
        }
    }

    .Katalog {
        padding: 30px 0 90px;

        h1 {
            color: $colorYellow;
            font-size: 50px;
            font-weight: 400;

            &::first-letter {
                font-size: 60px;
            }
        }

        .swiper {
            padding: 10px 0 50px;

            .swiper-pagination {
                bottom: 0;
            }

            .swiper-pagination-bullet {
                width: 15px;
                height: 15px;
                border-radius: 0;
                background-color: #FBD2A9;
                opacity: 1;
                margin-right: 15px;

                &.swiper-pagination-bullet-active {
                    background-color: $colorYellow;
                }
            }
        }

        .cards {
            height: 580px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h2 {
                line-height: 41px;
                font-size: 45px;
                color: #292929;
                position: absolute;
                top: 32px;
                padding: 0 25px;
                z-index: 9;
                transition: all .3s ease-in-out;
            }

            p {
                font-size: 17px;
                line-height: 25px;
                color: #fff;
                font-weight: 300;
                position: absolute;
                top: 135px;
                z-index: 9;
                padding: 0 15px;
                transition: all .5s ease-in-out;
                opacity: 0;
                transform: translateX(-20px);
                visibility: hidden;
            }

            a {
                font-size: 17px;
                line-height: 21px;
                color: #fff;
                position: absolute;
                bottom: 30px;
                z-index: 9;
                left: 0;
                display: flex;
                align-items: center;
                padding: 0 16px;
                transition: all .5s ease-in-out .2s;
                opacity: 0;
                transform: translateX(-100%);
                visibility: hidden;

                span {
                    margin-left: 11px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: all .3s ease-in-out;
            }

            &:hover {

                h2 {
                    color: #fff;
                }

                p {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }

                a {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }

                &::after {
                    background-color: rgba(0, 0, 0, 0.56);
                }
            }
        }
    }

    .Number {
        padding: 40px 0 90px;

        h1 {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            color: #AA240A;
        }

        .line {
            width: 100%;
            height: 2px;
            background: #F68E28;
            ;
            margin: 50px 0 0;
        }

        .cards {
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px 0;
            margin-top: 45px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                width: 1px;
                height: 100%;
                background-color: #AA240A;
                ;
            }

            h2 {
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: #000000;
            }

            h3 {
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                color: #F68E28;
                margin-left: 25px;
            }
        }
    }

    .youTube {
        padding-bottom: 110px;

        iframe {
            width: 100%;
            height: 655px;
        }
    }

    .footer {
        background-image: url(../images/footer.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        padding: 160px 0 100px;
        position: relative;
        background-size: cover;

        .myRow {
            margin: 90px 0 60px;
        }

        .socials {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin-right: 25px;
            }
        }

        .cards {
            display: flex;
            align-items: center;

            a {
                display: block;
                font-weight: 500;
                font-size: 17px;
                line-height: 21px;
                color: #FFFFFF;
                margin-top: 5px;
                padding-left: 12px;
            }
        }

        h1 {
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;
            color: $colorYellow;
            text-align: center;
        }

        .zed {
            z-index: 99;
        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.73);
        }
    }

    .CatalogHeader {
        background-image: url(../images/catalogBg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 516px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        a,
        span {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            color: #fff;

            &.actives {
                color: #F68E28;
            }
        }

        h1 {
            color: #fff;
            font-weight: 500;
            font-size: 64px;
            line-height: 80px;
        }
    }

    .CatalogContent,
    .CatalogById {
        padding: 80px 0;
        position: relative;

        .key1,
        .key2,
        .key3,
        .key4 {
            position: absolute;
        }

        .key1 {
            top: 40px;
            left: -100px;
        }

        .key2 {
            top: 30%;
            right: -140px;
        }

        .key3 {
            bottom: 10%;
            right: -100px;
        }

        .key4 {
            bottom: 30%;
            left: 100px;
        }

        .col-lg-6 {
            &.actives {
                margin-top: 60px;
            }
        }

        .cards {
            height: 580px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h2 {
                line-height: 41px;
                font-size: 45px;
                color: #292929;
                position: absolute;
                top: 32px;
                padding: 0 25px;
                z-index: 9;
                transition: all .3s ease-in-out;
            }

            p {
                font-size: 17px;
                line-height: 25px;
                color: #fff;
                font-weight: 300;
                position: absolute;
                top: 135px;
                z-index: 9;
                padding: 0 15px;
                transition: all .5s ease-in-out;
                opacity: 0;
                transform: translateX(-20px);
                visibility: hidden;
            }

            a {
                font-size: 17px;
                line-height: 21px;
                color: #fff;
                position: absolute;
                bottom: 30px;
                z-index: 9;
                left: 0;
                display: flex;
                align-items: center;
                padding: 0 16px;
                transition: all .5s ease-in-out .2s;
                opacity: 0;
                transform: translateX(-100%);
                visibility: hidden;

                span {
                    margin-left: 11px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: all .3s ease-in-out;
            }

            &:hover {

                h2 {
                    color: #fff;
                }

                p {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }

                a {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }

                &::after {
                    background-color: rgba(0, 0, 0, 0.56);
                }
            }
        }

        a {
            font-weight: 300;
            font-size: 20px;
            line-height: 90.5%;
            color: #292929;
            display: block;
            margin-bottom: 24px;
            transition: all .3s ease;

            &:hover {
                color: #AA240A;
            }
        }

        .searchWrap {
            border-bottom: 1px solid #F68E28;
            padding-bottom: 8px;
            margin-bottom: 40px;

            input {
                border: 0;
                box-shadow: none;
            }
        }
    }

    .CatalogById {

        .cards {

            h3 {
                font-weight: 600;
                font-size: 45px;
                line-height: 41px;
                color: #FFFFFF;
                position: absolute;
                top: 30px;
                z-index: 9;
                padding: 0 25px;
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease-in-out;
            }

            p {
                padding: 0 25px;

                .under {
                    border-bottom: 1px solid #F68E28;
                    padding-bottom: 7px;
                    display: inline;
                }

                span {
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 21px;
                    color: #FFFFFF;
                    display: block;
                    margin-top: 20px;
                    margin-right: 50px;
                }
            }

            &:hover {

                h3 {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .modals {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        // backdrop-filter: blur(50px);
        transition: all .5s ease-in-out;
        opacity: 0;
        visibility: hidden;

        .close {
            top: 19%;
            position: absolute;
            right: 250px;
            cursor: pointer;
        }

        h1 {
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: #F68E28;
            margin-bottom: 60px;
            text-align: center;
        }

        .form-control {
            border: 0;
            border-bottom: 1px solid #F68E28;
            margin-bottom: 50px;
            padding: 20px;
            box-shadow: none;
        }

        textarea {
            width: 100%;
            border: 1px solid #F68E28;
            padding: 10px;
            height: 100%;
            box-shadow: none;
            outline: none;
        }

        .btn {
            margin-top: 120px;
            margin-left: auto;
            display: block;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            color: #292929;
            padding: 15px 52px;
            border: 1px solid #F68E28;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}